<%= form_for task, remote: true, html: { class: "modal-form task-form" } do |f| %>
  <fieldset>

	<ul class="nav nav-tabs">
    <li class="active"><%= link_to "Content", "#content-tab-#{task.id}", data: { toggle: "tab" } %></li>
    <li><%= link_to "Metadata", "#metadata-tab-#{task.id}", data: { toggle: "tab" } %></li>
  </ul>

  <div class="tab-content">
    <%= content_tag :div, class: "tab-pane active", id: "content-tab-#{task.id}" do %>
    
      <%= render "layouts/form_errors", errors: task.errors %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control", maxlength: Task::TITLE_MAX_LENGTH %>
      </div>

      <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, class: "form-control", rows: "5" %>
      </div>

      <div class="checkbox">
        <%= label_tag do %>
          <%= f.check_box :quick %>
          Quick
        <% end %>
      </div>

      <div class="checkbox">
        <%= label_tag do %>
          <%= f.check_box :important %>
          Important
        <% end %>
      </div>
    <% end %>
    <%= content_tag :div, class: "tab-pane", id: "metadata-tab-#{task.id}" do %>
      <div class="center-block">
        <h4>Tags</h4>

        <div id="tags" class="btn-group" data-toggle="buttons">
          <!-- Predefined tags -->
          <% current_user.get_tags.each do |tag| %>
            <%= content_tag :label, class: "btn btn-default btn-buffer tag-toggle #{"active" if task.tags.include?(tag)}".html_safe do %>
              <%= check_box_tag "tags[]", tag.id, task.tags.include?(tag) %>
              <%= tag.name %>
            <% end %> 
          <% end %>
          <%= content_tag :label, class: "btn btn-default btn-buffer hidden-tag-toggle #{"active" if !task.hidden_tag.empty?}".html_safe do %>
            <%= check_box_tag "" %>
            Custom
          <% end %> 
        </div>

        <hr>

        <div class="hidden-tag-form hidden">
          <%= render "tags/metadata_form", tag: task.hidden_tag %>
        </div>
      </div>
    <% end %>
  </div>
    
  </fieldset>
<% end %>
