<!-- Primary Author: Jonathan Allen (jallen01) -->
<%= form_for task, remote: true, html: { class: "modal-form" } do |f| %>
	
	<%= render "layouts/form_errors", errors: task.errors %>

	<div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control" %>
  </div>


	<% if current_user.tags != nil && current_user.tags.size > 0 %>
		
	<% end %>

	<div class="form-group">
	  <h4>Tags</h4>

	  <div class="btn-group" data-toggle="buttons">
	  	<!-- Toggle tag input -->
		  <button type="button" class="btn btn-default" id="tag-input-toggle">Custom Tag</button>

		  <!-- Predefined tags -->
		  <div id="tags">
			  <% current_user.tags.each do |tag| %>
		      <%= content_tag :label, class: "btn btn-default btn-buffer #{"active" if task.tags.include?(tag)}".html_safe do %>
		        <%= check_box_tag "tags[]", tag.id, task.tags.include?(tag) %>
		         <%= tag.title %>
		      <% end %> 
		    <% end %>
		  </div>
		</div>

    <hr>

		<%= render "tags/form", tag: task.hidden_tag %>
	</div>
<% end %>
