<!-- Primary Author: Jonathan Allen (jallen01) -->
<%= form_for task, remote: true, html: { class: "modal-form" } do |f| %>
	
	<%= render "layouts/form_errors", errors: task.errors %>

	<div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control" %>
  </div>


	<% if current_user.tags != nil && current_user.tags.size > 0 %>
		
	<% end %>

	<div class="form-group">
		<label>Tags</label>
		<% current_user.tags.each do |tag| %>
			<% content_tag :button, tag.name, type: "button", class: "btn btn-default", id: tag.id %>
		<% end %>
	</div>

	<div class="form-group">
		<label>Days</label>
			<%= render "day_ranges/day_select.html.erb", tag: task.hidden_tag %>
	</div>
	
	<div class="form-group">
	  <label>Times</label>
		<%= render "time_ranges/time_select.html.erb", tag: task.hidden_tag %>
	</div>

	<div class="form-group">
		<label>Locations</label>
		<div class="btn-group" data-toggle="custom-buttons" id="time-ranges">
			<% current_user.locations.each do |location| %>
				<%= content_tag :button, location.name, type: "button", class: "btn btn-default", id: "#{location.id}" %>
			<% end %>
		</div>
	</div>

<% end %>
