<h1>Create Task</h1>

<div id="form_custom">
	<%= form_for task do |f| %>
		<%= f.label :title %>
		<%= f.text_field :title %><br>
		<%= f.label :content %>
		<%= f.text_area :content %><br>

		<div>

			<% if current_user.tags != nil && current_user.tags.size > 0 %>
				
			<% end %>
			<div>
				Choose tags
			</div>
			<% current_user.tags.each do |tag| %>
				<button type="button" class="btn btn-default tag" id=<%=tag.id%> >tag.name</button>
			<% end %>

			<%= hidden_field_tag 'tags' %>

			<div>
				Days:
			</div>
			<div>
				<% current_user.day_ranges.each do |day_range| %>
					<button type="button" class="btn btn-default range_days" >day_range.name</button>
				<% end %>
				<div>
					<button type="button" class="btn btn-default" id="custom_days"%> > Custom </button>
				</div>
			</div>

			<div class="btn-group" data-toggle="buttons" id="days">


			  <label class="btn btn-default">
			  	<%=check_box_tag "daychecks[]", "Sunday", false %> Sunday
			  </label>
			  <label class="btn btn-default">
			  	<%=check_box_tag "daychecks[]", "Monday", false %> Monday
			  </label>
			  <label class="btn btn-default">
			  	<%=check_box_tag "daychecks[]", "Tuesday", false %> Tuesday
			  </label>
			  <label class="btn btn-default">
			  	<%=check_box_tag "daychecks[]", "Wednesday", false %> Wednesday
			  </label>
			  <label class="btn btn-default">
			  	<%=check_box_tag "daychecks[]", "Thursday", false %> Thursday
			  </label>
			  <label class="btn btn-default">
			  	<%=check_box_tag "daychecks[]", "Friday", false %> Friday
			  </label>
			  <label class="btn btn-default">
			  	<%=check_box_tag "daychecks[]", "Saturday", false %> Saturday
			  </label>
			</div>
		</div>

		<div>
			<div>
				Times:
			</div>
			<div>
				<% current_user.time_ranges.each do |time_range| %>
					<button type="button" class="btn btn-default range_times" id=<%=time_range.id%> >time_range.name</button>
				<% end %>
				<div>
					<button type="button" class="btn btn-default" id="custom_days"%> > Custom </button>
				</div>
			</div>

			<div id="time-input" class="btn-group">
				<% times = task.hidden_tag.hidden_time_range.get_discrete(24) %>
					<% times.each_index do |i| %>
						<%= content_tag :button, times[i][0].hour, class: "btn btn-default", id: "time-#{i}", type: "button" %>
				<% end %>

				<%= hidden_field_tag 'form_time_range', "#{raw times.map { |time, checked| [checked, time.hour, time.minute] }.as_json}" %>
			</div>
		</div>

		<div>
			<div>
				Locations:
			</div>
			<div>
				<% current_user.locations.each do |location| %>
					<button type="button" class="btn btn-default loc" id=''+<%=location.id%> >location.name</button>
				<% end %>
			</div>
		</div>

		<%= hidden_field_tag 'form_day_range', '' %>
		<%= hidden_field_tag 'time_ranges' %>
		<%= hidden_field_tag 'locations', '' %>

		<%= f.submit 'Create', :class => 'btn btn-primary' %>

	<% end %>
</div>
