

<div class="row">
  <div class="col-md-4 page-header">
    <h1><%= current_user.first_name %>'s Fireplace</h1>
    <h4><span class="label label-info">6:55PM | November 19th, 2013</span></h4>
    <h4><span class="label label-info">Cambridge, MA</span></h4>
    <h5 data-toggle="modal" data-target="#user_preferences_modal"><%= link_to "Change", "#" %></h5>
  </div>
</div>

<!-- Filter policies -->


<div id="tasks-list">
  <div class="list-group">
    <% @tasks.each do |task| %>
      <%= render "tasks/list", task: task %>
    <% end %>
  </div>
</div>

<hr>

<div class="btn-toolbar">
  <!-- Toggle buttons -->
  <div class="btn-group">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-task-modal">New Task</button>
  </div>

  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-default">
      <input type="checkbox">Only Quick Tasks
    </label>
    <label class="btn btn-default">
      <input type="checkbox">Only Important Tasks
    </label>
  </div>
</div>

<%= render "layouts/modal_form", object: @new_task, modal_id: "new-task-modal", modal_title: "New Task", modal_data: { form: "temporary" }, modal_content: render("tasks/form", task: @new_task) %>

<!-- Edit task modals -->
<div id="hidden_modals">
<% @tasks.each do |task| %>
    <%= render "layouts/modal_form", object: task, modal_id: "edit-task-#{task.id}-modal", modal_title: "Edit Task", modal_content: render("tasks/form", task: task) %>
<% end %>
</div>

<%= javascript_include_tag "index.js" %> 