<%= form_for tag, remote: true, html: { class: "modal-form tag-form" } do |f| %>
  <%= render "layouts/form_errors", errors: tag.errors %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", maxlength: Tag::NAME_MAX_LENGTH %>
  </div>

  <hr>

  <div class="center-block">
    <%= render "tags/metadata_form", tag: tag %>
  </div>

<% end %>