<!-- Primary Author: Jonathan Allen (jallen01) -->

<!-- Days -->
<div class="panel-group" id="accordion">
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <a data-toggle="collapse" data-parent="#accordion" href="#day-ranges-collapse" class="panel-title">
        Days
      </a>
    </div>
    <div id="day-ranges-collapse" class="panel-collapse collapse in">
      <div class="panel-body">
        <div id="day-ranges" class="btn-group" data-toggle="buttons">
          <!-- Predefined day ranges -->
          <% current_user.get_day_ranges.each do |day_range| %>
            <%= content_tag :label, class: "btn btn-default btn-buffer day-button-bar spec-tag #{(tag.day_ranges.include?(day_range) ? 'active' : '')}" do %>
              <%= check_box_tag "day_ranges[]", day_range.id, tag.day_ranges.include?(day_range) %>
              <%= day_range.name %>
            <% end %> 
          <% end %>
          <%= content_tag :label, class: "btn btn-default btn-buffer custom-day-range spec-tag #{"active" if !tag.hidden_day_range.empty?}".html_safe do %>
            <%= check_box_tag "custom-d-range", "custom" %>
            Custom
          <% end %> 
        </div>

        <br>

        <!-- Day range input -->
        <div class="day-ranges-custom">
          <%= render "day_ranges/select", day_range: tag.hidden_day_range %>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <a data-toggle="collapse" data-parent="#accordion" href="#time-ranges-collapse" class="panel-title">
        Times
      </a>
    </div>
    <div id="time-ranges-collapse" class="panel-collapse collapse">
      <div class="panel-body">
        <div id="time-ranges" class="btn-group" data-toggle="buttons">
          <!-- Predefined time ranges -->
          <% current_user.get_time_ranges.each do |time_range| %>
            <%= content_tag :label, class: "btn btn-default btn-buffer time-button-bar spec-tag #{(tag.time_ranges.include?(time_range) ? 'active' : '')}" do %>
              <%= check_box_tag "time_ranges[]", time_range.id, tag.time_ranges.include?(time_range) %>
              <%= time_range.name %>
            <% end %> 
          <% end %>
          <%= content_tag :label, class: "btn btn-default btn-buffer custom-time-range spec-tag #{"active" if !tag.hidden_time_range.empty?}".html_safe do %>
            <%= check_box_tag "custom-t-range", "custom" %>
            Custom
          <% end %> 
        </div>

        <br>

        <!-- Time range input -->
        <div class="time-ranges-custom">
          <%= render "time_ranges/select", time_range: tag.hidden_time_range %>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <a data-toggle="collapse" data-parent="#accordion" href="#locations-collapse" class="panel-title">
        Locations
      </a>
    </div>
    <div id="locations-collapse" class="panel-collapse collapse">
      <div class="panel-body">
        <div id="locations" class="btn-group" data-toggle="buttons">
      <% current_user.get_locations.each do |location| %>
        <%= content_tag :label, class: "btn btn-default btn-buffer location-button-bar spec-tag #{(tag.locations.include?(location) ? 'active' : '')}" do %>
          <%= check_box_tag "locations[]", location.id, tag.locations.include?(location) %>
          <%= location.name %>
        <% end %>
      <% end %>
      
    </div>
      </div>
    </div>
  </div>

</div>