<!-- Days -->
<%= content_tag :div, class: "panel-group", id: "metadata-accordion-#{tag.id}" do %>
  
  <div class="panel panel-default">
    <%= content_tag :div, "Days", data: { toggle: "collapse", target: "#day-ranges-collapse-#{tag.id}", parent: "#metadata-accordion-#{tag.id}" }, class: "panel-heading" %>
    <%= content_tag :div, id: "day-ranges-collapse-#{tag.id}", class: "panel-collapse collapse in" do %>
      <div class="panel-body">
        <div class="btn-group day-ranges" data-toggle="buttons">
          <!-- Predefined day ranges -->
          <% current_user.get_day_ranges.each do |day_range| %>
            <%= content_tag :label, class: "btn btn-default btn-buffer day-range-toggle #{(tag.day_ranges.include?(day_range) ? "active" : "")}" do %>
              <%= check_box_tag "day_ranges[]", day_range.id, tag.day_ranges.include?(day_range) %>
              <%= day_range.name %>
            <% end %> 
          <% end %>
          <%= content_tag :label, class: "btn btn-default btn-buffer hidden-day-range-toggle #{"active" if !tag.hidden_day_range.empty?}" do %>
            <%= check_box_tag "", nil, !tag.hidden_day_range.empty? %>
            Custom
          <% end %> 
        </div>

        <br>

        <!-- Day range input -->
        <%= content_tag :div, class: "#{"hidden" if tag.hidden_day_range.empty?}" do %>
          <%= render "day_ranges/select", day_range: tag.hidden_day_range %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="panel panel-default">
    <%= content_tag :div, "Times", data: { toggle: "collapse", target: "#time-ranges-collapse-#{tag.id}", parent: "#metadata-accordion-#{tag.id}" }, class: "panel-heading" %>
    <%= content_tag :div, id: "time-ranges-collapse-#{tag.id}", class: "panel-collapse collapse" do %>
      <div class="panel-body">
        <div class="btn-group" data-toggle="buttons">
          <!-- Predefined time ranges -->
          <% current_user.get_time_ranges.each do |time_range| %>
            <%= content_tag :label, class: "btn btn-default btn-buffer time-range-toggle #{(tag.time_ranges.include?(time_range) ? "active" : "")}" do %>
              <%= check_box_tag "time_ranges[]", time_range.id, tag.time_ranges.include?(time_range) %>
              <%= time_range.name %>
            <% end %> 
          <% end %>
          <%= content_tag :label, class: "btn btn-default btn-buffer hidden-time-range-toggle #{"active" if !tag.hidden_time_range.empty?}" do %>
            <%= check_box_tag "", nil, !tag.hidden_time_range.empty? %>
            Custom
          <% end %> 
        </div>

        <br>

        <!-- Time range input -->
        <%= content_tag :div, class: "#{"hidden" if tag.hidden_time_range.empty?}" do %>
          <%= render "time_ranges/select", time_range: tag.hidden_time_range %>
        <% end %>

        <br>

      </div>
    <% end %>
  </div>

  <div class="panel panel-default">
    <%= content_tag :div, "Locations", data: { toggle: "collapse", target: "#locations-collapse-#{tag.id}", parent: "#metadata-accordion-#{tag.id}" }, class: "panel-heading" %>
    <%= content_tag :div, id: "locations-collapse-#{tag.id}", class: "panel-collapse collapse" do %>
      <div class="panel-body">
        <div class="btn-group" data-toggle="buttons">
          <% current_user.get_locations.each do |location| %>
            <%= content_tag :label, class: "btn btn-default btn-buffer location-toggle #{(tag.locations.include?(location) ? "active" : "")}" do %>
              <%= check_box_tag "locations[]", location.id, tag.locations.include?(location) %>
              <%= location.name %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

<% end %>
