<div>
	<%= form_for @new_tag do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name %><br>

		<div>
			<div>
				Days:
			</div>
			<div>
				<% current_user.day_ranges.each do |day_range| %>
					<button type="button" class="btn btn-default range_days" >day_range.name</button>
				<% end %>
				<div>
					<button type="button" class="btn btn-default" id="custom_days"%> > Custom </button>
				</div>
			</div>
			<div class="btn-group" data-toggle="buttons" id="days">
			  <label class="btn btn-default">
			  	<%=check_box_tag "daychecks[]", "Sunday", false %> Sunday
			  </label>
			  <label class="btn btn-default">
			  	<%=check_box_tag "daychecks[]", "Monday", false %> Monday
			  </label>
			  <label class="btn btn-default">
			  	<%=check_box_tag "daychecks[]", "Tuesday", false %> Tuesday
			  </label>
			  <label class="btn btn-default">
			  	<%=check_box_tag "daychecks[]", "Wednesday", false %> Wednesday
			  </label>
			  <label class="btn btn-default">
			  	<%=check_box_tag "daychecks[]", "Thursday", false %> Thursday
			  </label>
			  <label class="btn btn-default">
			  	<%=check_box_tag "daychecks[]", "Friday", false %> Friday
			  </label>
			  <label class="btn btn-default">
			  	<%=check_box_tag "daychecks[]", "Saturday", false %> Saturday
			  </label>
			</div>
		</div>

		<div>
			<div>
				Times:
			</div>
			<div>
				<% current_user.time_ranges.each do |time_range| %>
					<button type="button" class="btn btn-default range_times" id=<%=time_range.id%> >time_range.name</button>
				<% end %>
				<div>
					<button type="button" class="btn btn-default" id="custom_days"%> > Custom </button>
				</div>
			</div>
			<div id="times">
				<div id="am_times">
					<div> AM </div>
					<label class="btn btn-default">
					  <input type="checkbox" name ="timechecks[]" id="time_12am"> 12
					</label>
					<label class="btn btn-default">
					  <input type="checkbox" name ="timechecks[]" id="time_1am"> 1
					</label>
					<label class="btn btn-default">
					  <input type="checkbox" name ="timechecks[]" id="time_2am"> 2
					</label>
					<label class="btn btn-default">
					  <input type="checkbox" name ="timechecks[]" id="time_3am"> 3
					</label>
					<label class="btn btn-default">
					  <input type="checkbox" name ="timechecks[]" id="time_4am"> 4
					</label>
					<label class="btn btn-default">
					  <input type="checkbox" name ="timechecks[]" id="time_5am"> 5
					</label>
					<label class="btn btn-default">
					  <input type="checkbox" name ="timechecks[]" id="time_6am"> 6
					</label>
					<label class="btn btn-default">
					  <input type="checkbox" name ="timechecks[]" id="time_7am"> 7
					</label>
					<label class="btn btn-default">
					  <input type="checkbox" name ="timechecks[]" id="time_8am"> 8
					</label>
					<label class="btn btn-default">
					  <input type="checkbox" name ="timechecks[]" id="time_9am"> 9
					</label>
					<label class="btn btn-default">
					  <input type="checkbox" name ="timechecks[]" id="time_10am"> 10
					</label>
					<label class="btn btn-default">
					  <input type="checkbox" name ="timechecks[]" id="time_11am"> 11
					</label>
				</div>
				<div id="pm_times">
					<div> PM </div>
					<label class="btn btn-default">
					  <input type="checkbox" name ="timechecks[]" id="time_12pm"> 12
					</label>
					<label class="btn btn-default">
					  <input type="checkbox" name ="timechecks[]" id="time_1pm"> 1
					</label>
					<label class="btn btn-default">
					  <input type="checkbox" name ="timechecks[]" id="time_2pm"> 2
					</label>
					<label class="btn btn-default">
					  <input type="checkbox" name ="timechecks[]" id="time_3pm"> 3
					</label>
					<label class="btn btn-default">
					  <input type="checkbox" name ="timechecks[]" id="time_4pm"> 4
					</label>
					<label class="btn btn-default">
					  <input type="checkbox" name ="timechecks[]" id="time_5pm"> 5
					</label>
					<label class="btn btn-default">
					  <input type="checkbox" name ="timechecks[]" id="time_6pm"> 6
					</label>
					<label class="btn btn-default">
					  <input type="checkbox" name ="timechecks[]" id="time_7pm"> 7
					</label>
					<label class="btn btn-default">
					  <input type="checkbox" name ="timechecks[]" id="time_8pm"> 8
					</label>
					<label class="btn btn-default">
					  <input type="checkbox" name ="timechecks[]" id="time_9pm"> 9
					</label>
					<label class="btn btn-default">
					  <input type="checkbox" name ="timechecks[]" id="time_10pm"> 10
					</label>
					<label class="btn btn-default">
					  <input type="checkbox" name ="timechecks[]" value= "11pm" id="time_11pm"> 11
					</label>
				</div>
			</div>
		</div>

		<div>
			<div>
				Locations:
			</div>
			<div>
				<% current_user.locations.each do |location| %>
					<button type="button" class="btn btn-default loc" id=''+<%=location.id%> >location.name</button>
				<% end %>
			</div>
		</div>

		<%= hidden_field_tag 'form_day_range', '' %>
		<%= hidden_field_tag 'time_ranges' %>
		<%= hidden_field_tag 'form_time_range', '' %>
		<%= hidden_field_tag 'locations', '' %>

		<%= f.submit 'Create', :class => 'btn btn-primary' %>

	<% end %>
</div>
