<%= form_for time_range, remote: true, html: { class: "modal-form time-range-form" } do |f| %>
  
  <%= render "layouts/form_errors", errors: time_range.errors %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", maxlength: TimeRange::NAME_MAX_LENGTH %>
  </div>

  <hr>

  <div class="form-group center-block">
    <h4>Times</h4>
    
    <%= render "time_ranges/select", time_range: time_range %>
  </div>

<% end %>