<!-- Primary Author: Rebecca Krosnick (krosnick) -->
<%= form_for location, remote: true, html: { class: "modal-form" } do |f| %>
  
  <%= render "layouts/form_errors", errors: location.errors %>
  
  <div class="form-group">

    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>



  <hr>


 <div class='btn btn-primary' id="add-address">Hide Address</div><br>


    <div class="form-group loc" >
      <hr>
      <%= f.label "Address" %><br>
      <%= f.text_field :address_string, class: "form-control" %>

    </div>
<% end %>
