

<%= form_for location, remote: true, html: { class: "modal-form" } do |f| %>
  
  <%= render "layouts/form_errors", errors: location.errors %>
  
  <div class="form-group">

    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>



  <hr>


 <div class='btn btn-primary' id="add-address">Hide Address</div><br>


    <div class="form-group loc" >
      <hr>
      <%= f.label "Street" %><br>
      <%= text_field_tag('location[address_hash[street]]', nil, :class => "form-control") %>

      <%= f.label "City" %><br>
      <%= text_field_tag('location[address_hash[city]]', nil, :class => "form-control") %>

      <%= f.label "Zip" %><br>
      <%= text_field_tag('location[address_hash[zip]]', nil, :class => "form-control") %>

      <%= f.label "State" %><br>
      <%= text_field_tag('location[address_hash[state]]', nil, :class => "form-control") %>
    </div>
<% end %>

