<!-- Primary Author: Rebecca Krosnick (krosnick) -->
<%= form_for location, remote: true, html: { class: "modal-form" } do |f| %>
  
  <%= render "layouts/form_errors", errors: location.errors %>
  
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>



  <hr>

<!-- Code from https://github.com/sgruhier/jquery-addresspicker -->
 <div class='clearfix'>
    <div class='input input-positioned'>
      <div class="form-group">
        <%= f.label :address_string %>
        <%= f.text_field :address_string, class: "form-control" %>
        <%= f.hidden_field :latitude,  params[:lat] %>
        <%= f.hidden_field :longitude, params[:lng] %>
      </div>
    </div>

    <div class='map-wrapper'>
      <label id="geo_label" for="reverseGeocode">Reverse Geocode after Marker Drag?</label>
      <select id="reverseGeocode">
        <option value="false" selected>No</option>
        <option value="true">Yes</option>
      </select><br/>

      <div id="map"></div>
      <div id="legend">You can drag and drop the marker to the correct location</div>
    </div>
  </div>
<% end %>

