<!--  Primary Author: Michelle Johnson (mchlljy) -->
<%= form_for(@location, remote: true) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: @location.user_id %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name%>

    <%= f.label "Street" %><br>
    <%= text_field_tag 'street', nil %>

    <%= f.label "City" %><br>
    <%= text_field_tag 'city', nil %>

    <%= f.label "Zip" %><br>
    <%= text_field_tag 'zip', nil, :maxlength => 5%>

    <%= f.label "State" %><br>
    <%= text_field_tag 'state', nil, :maxlength => 2%>

  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>