<!DOCTYPE html>
<html>
  <head>
    <title>Fireplace</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.6.2.js"></script>
  </head>
  <body>

    <%= render 'layouts/navbar' %>

    <main role="main">
      <div class="container">
        <%= render 'layouts/messages' %>

        <%= yield %>
      </div>
    </main>
  </body>
</html>